@{
    //Todo: Mudar o jumbotron para outra coisa, pois conforme https://getbootstrap.com/docs/5.1/migration/#jumbotron, somos informados que na v5.1 do bootstrap, não se utiliza mais.
}
<div class="container">
    <img src="~/Images/faleconosco1.jpg" alt="Fale conosco" />
    <div class="jumbotron">
        <h3>Queremos ouvir o que você tem a dizer</h3>
        <p>Se você tiver alguam dúvida ou sugestão, fale conosco!</p>
        <p>
            <span><img src="~/Images/Envelope-icon24.png" /></span>
            <h5><email endereco="rafaelpdias@pm.me" conteudo="Enviar um e-mail"></email></h5>
            <br />
            <span><img src="~/Images/phone-app-icon.png" /></span>
            <h5>(11) 99999-9999</h5>
            <br />
            <span><img src="~/Images/Home-iconred.png" /></span>
            <h5>Av. Dos Minhaus, 345 - 08097-010 - Minhaulândia</h5>
        </p>
    </div>
</div>